<h1>Fun fact: I love personality quizzes! Read about my personality below.</h1>
<br /> <!--This is a line break to make a blank line-->
<hr /> <!--This makes a line across the page-->
<h2>My 16Personalities Type: INFP-A</h2>
<p>That stands for introverted, intuitive, feeling, perceiving, and assertive </p>
<p>Strengths: Perceptive, creative, communicative </p>
<p>Weaknesses: Overly optimistic, disorganized, overly accomodating </p>
<br />
<hr />
<h2>My Enneagram: 5w4</h2>
<p>Key traits for my enneagram include curious, creative, and reserved  </p>
<br />
<hr />My Zodiac Sign: Libra</h2>
<p>Libras are usually known for being diplomatic, social, and idealistic. I don't know too much about astrology but let me know if you have CoStar! </p>