<h1>A few of my favorite hobbies:</h1>
<p> One of my biggest passions is food! Cooking has been my favorite creative outlet and I've been able to explore so many new recipes this semester. Recently, I've been meal prepping and I have prepped dishes like purple rice, potatoes, korean rice cakes, tofu soups, and more! Let me know if you also like cooking because I'm looking for recipe inspo :)</p>
<p> My other passion is books! I've loved reading ever since I was little and recently, I've been trying to read for fun :) I really like books by Asian American authors and I read everything from short stories to memoirs to classics. My all-time favorite book is ''On Earth We're Briefly Gorgeous'' by Ocean Vuong but the book ''Crying in Hmart'' brought me out of my reading slump. My most recent book I've finished is 'Someone Who Will Love You In All Your Damaged Glory' by Raphael Bob-Waksberg, who also created the Bojack Horseman series! Please reach out if you have any book recs!</p>
<p> I also really love studying at coffee shops! (Mostly for the matcha lattes <3) </p>

<div class="align-self-sm-center">
    <img class="w-50 h-auto rounded mx-auto d-block"
         src="~/images/mealprep.jpg" alt="A picture of my meal prep for this week!" title="Gloria's Meal Prep'" />

 <div class="align-self-sm-center">
     <img class="w-50 h-auto rounded mx-auto d-block"
          src="~/images/IMG_0329.jpg" alt="A picture of when I read outside this summer" title="Gloria's Book Rec'" />

 <div class="align-self-sm-center">
      <img class="w-50 h-auto rounded mx-auto d-block"
           src="~/images/05023E6C-F980-4930-8BBF-1C41409F2201.jpg" alt="A picture of one of my favorite coffee shops in Austin" title="Gloria's Coffee Shop'" />
