
@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Hi! Welcome to my site.</h1>

<h4 class="text-center">My name is Gloria and I am a 3rd year MIS + Plan II major at UT!</h4>
<div class="align-self-sm-center">
    <img class="w-50 h-auto rounded mx-auto d-block"
         src="~/images/IMG_1593.jpg" alt="A picture of me in Seattle" title="Gloria" />
</div>
<br />
<div class="text-center">
    <div class="btn-group-lg">
        <a asp-action="About" class="btn btn-primary">About Me</a>
        <a asp-action="Hobbies" class="btn btn-primary">Hobbies</a>
        <a asp-action="Resume" class="btn btn-primary">Gloria's Resume</a>
    </div>
</div>
<hr class="hr-danger" /> 

<!--TODO:  Add a table of Gloria's classes here!-->
<!--HINT: Here's a good website for some help on tables: https://www.w3schools.com/html/html_tables.asp-->

<h2 class="text-center">My Fall 2022 Course Schedule</h2>
<table>
    <tr>
        <th>Class Name</th>
        <th>Professor</th>
        <th>Date and Time</th>
    </tr>
    <tr>
        <td>Plan II/KIPP Partnership (TC126)</td>
        <td>Jill Kolasinski</td>
        <td>Mon 4-6pm</td>
    </tr>
    <tr>
        <td>Principles of Marketing (MKT337)</td>
        <td>Herbert Miller</td>
        <td>TTH 8-9:30am</td>
    </tr>
    <tr>
        <td>Strategic Info Technology Management (MIS375)</td>
        <td>Russ Finney</td>
        <td>TTH 9:30-11am</td>
    </tr>
    <tr>
        <td> Community Engagement in Higher Education (TC358)</td>
        <td>Suchitra Gururaj</td>
        <td>TTH 12:30-2pm</td>
    </tr>
    <tr>
        <td> Web Application Development (MIS333K)</td>
        <td>Katie Gray</td>
        <td>TTH 2-3:30pm</td>
    </tr>
    <tr>
        <td> User Generated Content Analytics (MIS373)</td>
        <td>Anitesh Barua</td>
        <td>TTH 3:30-5pm</td>
    </tr>
    <tr>
        <td> Subjects in Arts and Sciences (TC125K)</td>
        <td>JM Gonzalez</td>
        <td>Wed 5-6pm</td>
    </tr>
</table>



<p>My email address is <a href="mailto:gloriawang@utexas.edu?subject=MIS 333K">gloriawang@utexas.edu</a>. Let's be friends!</p>
<br />
<br />
<h2 class="text-center">TED Talk</h2>
<p>Here's my favorite TED Talk! It's by Brene Brown and it's very meaningful to me because it reminds me that vulnerabiity is important.</p>
<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <div style="max-width:854px">
                <div style="max-width:854px">
                    <div style="position:relative;height:0;padding-bottom:56.25%"><<iframe width="560" height="315" src="https://www.youtube.com/embed/iCvmsMzlF7o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
                </div>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
</div>
